.header{
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  .container{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    img{
      height: 30px;
      margin-right: 20px;
    }
  }
}